body {
    font-family: 'Inter';
}

nav .navbar-nav li a{
    color: #181818 !important;
    font-weight: 500;
}

nav .navbar-nav li a:hover { 
    color: #108a00 !important;
}

.navbar-brand {
    font-weight: 500;
    color: #181818 !important;
}

.btn-primary {
    background-color: #108a00 !important;
    border: 1px solid #108a00;
}

.btn-primary:hover {
    background-color: #14a800 !important;
    border: 1px solid #14a800;
}

.btn-outline-secondary {
    border: 1px solid #108a00;
    color: #108a00;
}

.btn-outline-secondary:hover {
    background-color: #fff;
    color: #14a800;
    border: 1px solid #14a800;
}

.gray-bg-color {
    background-color: #f9f9f9;
}

.white-bg-color {
    background-color: #fff;
}

.custom-link-color {
    color: #108a00 !important;
}

.primary-color {
    color: #108a00 !important;
}

.bg-image {
    background-image: url('../img/ms.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.badge-primary {
    /* background-color: #108a00 !important;
    border: 1px solid #108a00; */
    background-color: #fff !important;
    color: #108a00;
    border: 1px solid #108a00;
}

.bg-image-gh {
    background-image: url('../img/Untitled\ design.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.checked {
    color: orange;
}

.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 25%;
  }